@media (max-width: 979px) {
    .sidebar-filler {
        width: 200px;
    }

    .nav-collapse {
        clear: none;
    }

        .nav-collapse .nav > li {
            float: left;
        }

    .navbar .btn-navbar {
        display: none;
    }

    .nav-collapse,
    .nav-collapse.collapse {
        height: inherit;
        overflow: inherit;
    }
    .page-splash-message {
        font-size: 300%;
    }

    .btn-group.pull-right{
        float: none;
        display: block;
    }

}

@media (max-width: 768px) {
    .sidebar-filler {
        display: none;
    }

    .nav-collapse {
        clear: both;
    }

        .nav-collapse .nav > li {
            float: none;
        }

    .navbar .btn-navbar {
        display: block;
    }

    .nav-collapse,
    .nav-collapse.collapse {
        height: 0;
        overflow: hidden;
    }
    .page-splash-message {
        font-size: 200%;
        margin: 40% auto 0 auto;
    }
    .page-splash-message.page-splash-message-subtle {
        font-size: 150%;
    }

    .sidebar .sidebar-inner {
        height: inherit;
    }
}

@media (max-width: 320px) {
    .today-datas li {
        padding: 1em .5em;
        line-height: 1em;
    }

        .today-datas li i {
            font-size: 2em;
        }

        .today-datas li .datas-text span {
            font-size: 1.5em;
        }

    .btn {
        margin: .2em;
        width: 7em;
    }

    .btn-group > .btn {
        display: block;
        width: 7em;
        margin: .2em;
    }

    input, 
    select {
        width: 85%;
    }

    textarea {
        width: 80%;
    }

    .img-polaroid.user-pic {
        width: 5em;
    }

    .user .user-details {
        margin-left: 7em;
        margin-right: .5em;
    }
    h3 {
        font-size: 1.5em !important;
        line-height: 1.2em !important;
    }
}
